pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: auto;
  }
  
  code {
    color: #333;
  }

  .highlight {
    color: green;
background: black;
color: white;
font-weight: 500;
}