pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: auto;
  }
  
  code {
    color: #333;
  }

  .highlight {
    color: green;
background: black;
color: white;
font-weight: 500;
}

ul li span {
  font-weight: bold;
  min-width: 70px;
  display: inline-block;
}